.expandedCircleSelector
  flex: 0 0 100%
  position: relative

.circleMenu
  display: flex
  flex-direction: column
  justify-content: flex-end
  gap: 1em
  bottom: 9vh
  height: 0
  padding: 1em
  font-family: $fo_provicali
  transition: 1s

.circleMenu--height
  height: 800%

.circleMenu__InputWrapper
  width: 100%
  border-bottom: 4px solid black

.circleMenu__searchIcon
  width: 1.5em
  height: 1.5em
  margin-right: 10px

.circleMenu__findCircles
  border: 3px solid black
  padding: .5em
  width: 100%
  border-radius: 9px
  font-size: 1.5em
  text-align: center


.circleMenu__circleList
  background-color: greenyellow
  height: 100%
  width: 100%