// Estilos del componente post, que contendrá la información de los posts

.post
  position: relative
  flex-direction: column
  font-family: Inter, "Inter Semi Bold", sans-serif
  font-weight: 400
  padding: .5em 1.2em
  height: 100%
  transition: 1.5s


.post__authorData
  display: flex
  justify-content: flex-start
  align-items: center
  align-self: flex-start
  font-family: Archivo, sans-serif
  font-weight: 400
  font-size: .6rem
  padding: 1em

.post__iconBox
  position: absolute
  right: 1rem
  top: -1.75rem

.post__content
  font-family: $fo_interSemiBold
  font-weight: 400
  font-size: 2em
