@font-face
  font-family: Public Sans Medium
  src: url("src/assets/static/fonts/Public_Sans/static/PublicSans-Medium.ttf")

@font-face
  font-family: "Inter Semi Bold"
  src: url("src/assets/static/fonts/Inter/static/Inter-SemiBold.ttf")

@font-face
  font-family: "Archivo"
  src: url("src/assets/static/fonts/Archivo/static/Archivo-Medium.ttf")

@font-face
  font-family: "Provicali"
  src: url("src/assets/static/fonts/provicali/Provicali.otf")

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap')

////////////////////////////////// Fonts
$fo_publicSansMedium: "Public Sans medium", sans-serif
$fo_interSemiBold: "Inter Semi Bold", sans-serif
$fo_archivo: "Archivo", sans-serif
$fo_provicali: "Provicali", sans-serif