@font-face
  font-family: Public Sans Medium
  src: url("src/styles/base/fonts/Public_Sans/static/PublicSans-Medium.ttf")

@font-face
  font-family: "Inter Semi Bold"
  src: url("src/styles/base/fonts/Inter/static/Inter-SemiBold.ttf")

@font-face
  font-family: "Archivo"
  src: url("src/styles/base/fonts/Archivo/static/Archivo-Regular.ttf")

@font-face
  font-family: "Provicali"
  src: url("src/styles/base/fonts/provicali/Provicali.otf")

////////////////////////////////// Fonts
$fo_publicSansMedium: "Public Sans medium", sans-serif
$fo_interSemiBold: "Inter Semi Bold", sans-serif
$fo_archivo: "Archivo", sans-serif
$fo_provicali: "Provicali", sans-serif